:root {
    --black_900_7f:#0000007f;
    --green_300:#82e280;
    --gray_50_01:#f4feff;
    --purple_A100_33:#cf6def33;
    --light_blue_300:#4fb3eb;
    --cyan_50_b2:#d2fcffb2;
    --pink_900:#570e5b;
    --light_green_A700:#40d532;
    --light_blue_700:#018ddb;
    --red_A100_01:#ff8181;
    --red_A100_87:#ff818187;
    --gray_800_01:#373e42;
    --green_A100:#cafad8;
    --teal_100:#9ce9db;
    --yellow_400:#fdf764;
    --cyan_A100_01:#90f8f2;
    --blue_200_01:#a2d5ee;
    --pink_A100:#fb6cd0;
    --blue_500_26:#1890ff26;
    --cyan_50_01:#e9fffd;
    --cyan_A100_00:#81f6ef00;
    --cyan_50_02:#eafffe;
    --blue_200_02:#a3c2ff;
    --blue_gray_900_02:#2e3940;
    --blue_gray_900_01:#1b234b;
    --pink_500:#df3562;
    --blue_gray_900:#1c3949;
    --deep_orange_100:#ffcbc7;
    --pink_100:#debcca;
    --gray_50_7f:#eefaff7f;
    --white_A700_4c:#ffffff4c;
    --pink_50:#ffd8e8;
    --blue_gray_100:#d9d9d9;
    --orange_A400:#ff9215;
    --gray_800:#383f43;
    --light_blue_800_33:#0d72ab33;
    --black_900_0f:#0000000f;
    --amber_100:#ffedbf;
    --white_A700_66:#ffffff66;
    --teal_300_87:#56b7a687;
    --cyan_50:#d2fcff;
    --blue_100:#ccebfa;
    --black_900_19:#00000019;
    --indigo_600:#2c7197;
    --green_200:#92cda2;
    --blue_gray_50:#ecf4f8;
    --red_300:#f36e7a;
    --gray_50:#f5fafd;
    --blue_gray_200_01:#b2bbbe;
    --white_A700_33:#ffffff33;
    --yellow_500:#fdf531;
    --light_green_500:#7add58;
    --gray_500_01:#a69ca0;
    --red_A400:#e41143;
    --teal_50_01:#d3eaf6;
    --deep_purple_A100:#ba8ef2;
    --purple_800:#6c2c6f;
    --teal_50_02:#d7edf8;
    --red_50_b2:#ffeef5b2;
    --blue_gray_200:#a9c2d5;
    --gray_500:#9c9fa0;
    --blue_800:#29729b;
    --gray_900:#222222;
    --teal_50:#deeef5;
    --gray_100:#f5f5f5;
    --orange_100:#ffd19d;
    --deep_purple_A700_01:#361bdc;
    --light_blue_100_01:#c0ecff;
    --deep_purple_A100_87:#ba8ef287;
    --cyan_900:#03486f;
    --pink_100_b2:#ffacddb2;
    --blue_gray_600_3f:#2e678c3f;
    --light_blue_400_01:#20bdef;
    --white_A700_7f:#ffffff7f;
    --cyan_A100:#81f6ef;
    --pink_100_01:#ffb0e7;
    --light_blue_100:#c0edff;
    --red_200:#ff9494;
    --light_blue_500:#00a3ff;
    --black_900_3f:#0000003f;
    --teal_300:#56b7a6;
    --deep_orange_700:#df4c1e;
    --deep_orange_300:#f5986e;
    --gray_200_01:#f5edf0;
    --pink_300:#e85fa2;
    --gray_700_33:#635d6033;
    --gray_600:#747c7f;
    --purple_800_02:#6f0581;
    --blue_gray_300:#81a4b7;
    --purple_800_01:#6f0580;
    --blue_gray_900_26:#1c394926;
    --light_blue_A400_7f:#00befa7f;
    --gray_200:#f0f0f0;
    --blue_50:#eaf8ff;
    --purple_900_19:#5e117219;
    --white_A700_bc:#ffffffbc;
    --red_A400_01:#e41144;
    --blue_300:#74c2ee;
    --blue_gray_900_cc:#1c3949cc;
    --blue_gray_900_33:#1c394933;
    --blue_gray_600_1e:#2e678c1e;
    --white_A700:#ffffff;
    --indigo_800:#162398;
    --deep_orange_50:#ffe2d4;
    --pink_A100_02:#f984b4;
    --red_A400_7f:#e411447f;
    --light_blue_A200:#3fbaff;
    --purple_900_19_01:#5d107119;
    --light_blue_400:#1daeff;
    --pink_A100_01:#fb75d3;
    --teal_200:#7dd5c5;
    --black_900_1e:#0000001e;
    --blue_gray_900_8c:#1c39498c;
    --light_blue_700_33:#018ddb33;
    --black_900:#000000;
    --blue_50_02:#e6f6ff;
    --blue_50_01:#ebf8ff;
    --deep_purple_A700:#361bdb;
    --black_900_26:#00000026;
    --light_blue_800_19:#0d72ab19;
    --blue_gray_50_01:#f1f1f1;
    --blue_gray_400:#82939f;
    --cyan_900_01:#03476e;
    --red_A100:#fe7d7d;
    --indigo_50:#e4edf4;
    --blue_gray_900_04:#1b3849;
    --blue_600:#209bdf;
    --blue_gray_900_03:#3c1845;
    --blue_gray_900_b2:#1c3949b2;
    --light_blue_50:#e2f4ff;
    --blue_gray_900_7f:#1c39497f;
    --gray_800_33:#383f4333;
    --gray_300:#e9e3e5;
    --orange_300:#ecc04e;
    --gray_300_02:#dadbdc;
    --gray_300_01:#d9dbdb;
    --orange_50:#ffe3d4;
    --indigo_100:#b7cee8;
    --black_900_33:#00000033;
    --gray_900_7f:#2222227f;
    --white_A700_01:#fdfefe;
    --cyan_900_7f:#03486f7f;
    --white_A700_02:#fffcfc;
    --light_blue_50_05:#e9fbff;
    --light_blue_50_04:#dff5fd;
    --indigo_900:#162397;
    --blue_gray_900_99:#1c394999;
    --purple_100_7f:#deb4ec7f;
    --light_blue_50_06:#e3f8ff;
    --blue_200:#a3d6ee;
    --light_blue_50_01:#e2f5ff;
    --light_blue_50_03:#e5f6fe;
    --red_100_b2:#ffc2dcb2;
    --indigo_500:#3443ca;
    --light_blue_50_02:#e5f6ff;
}